body {
    background:white;
  }

.page-header { 
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.select-a-cookie-form {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.select-cookie {
    width: 250px;
    height: 25px;
}

.add-ranking {
    width: 250px;
    height: 25px;
}

.logo {
    width: 100px;
    height: 100px;
}

.submit-btn { 
    color: white;
    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 0;
    border: none;
    background: #f16460;
    height: 30px;
    width: 100px;
}

.cookie-container { 
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
